@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ClientWebGUI.Models;
    @model IEnumerable<Centre>;
}

<div id="tableview">
    @if(ViewBag.ServerError == null)
    {
        <table>
        @foreach (var centre in Model)
        {
            <tr>
                <td>@centre.Id</td>
                <td>@centre.Name</td>
                <td>
                    <button id="selectcentre" onClick="select()">Select</button>
                </td>
            </tr>
        }
        </table>
    }
    else
    {
        <p>ViewBag.ServerError</p>
    }
</div>
<script>
    function select()
    {
        $.ajax({

        })
    }
</script>