@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ClientWebGUI.Models;
    @model IEnumerable<PreCentre>;
}

<div id="tableview">
    @if(ViewBag.ServerError == null)
    {
        <table>
            <thead>
                <tr>
                <th style="width:150px">ID</th>
                <th style="width:150px">Centre</th>
                <th></th>
            </tr>
            </thead>
            @foreach (var centre in Model)
            {
                <tr>
                    <td>@centre.Id</td>
                    <td id="CName_@centre.Id">@centre.Name</td>
                    <td>
                        <button onclick="select(@centre.Id, '@centre.Name')">select</button>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>ViewBag.ServerError</p>  
    }
</div>

<div id= "date">
    <p>Selected centre: [ID -<input style="display:inline-block; width:40px" readonly type="number" id="SId"/>]</p>
    <input type="text" id="SCentre" readonly placeholder="Non-selected"/>
    <p>Available date to book: 
        <input type="date" id="ADate" style="display:inline-block; width:200px" readonly placeholder="Select a centre to see its date"/>
    </p>    
    <p>Booking until (the end date):
        <input type="date" id="EDate" style="display:inline-block" />
    </p>
    <p>Enter your name to book the venue:
        <input type="text" id="UName" style="display:inline-block" placeholder="e.g: Naruto Uzumaki,..."/>
    </p>
    <button onClick="book()">Set Date</button>
</div>

<script>
    function select(id, name)
    {
        @*Add the selected centre name and its into the watched boxes*@
        $("#SCentre").val(name);
        $("#SId").val(id);

        $.ajax({
            url: '/home/select/' + id,
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                var obj = JSON.parse(data);
                @*set the date in the available date booking text box*@
                $("#ADate").val(obj);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
<script>
    function book()
    {
        var date = new Date($("#EndDate").val()).format('YYYY-MM-DD');
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        alert(day + "/" + month + "/" + year);
        $.ajax({
            url: '/home/book/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "Id": 5,
                "EndDate": $("#EndDate").val(),
                "ClientName": $("#UName").val(),
                "CentreId": $("#SId").val()
            }),
            success: function (data, textStatus, jQxhr) {
                alert("Sucessfully book-in a rental period for a centre's venue!");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(jqXhr.responseText);
                console.log(errorThrown);
            }
        });
    }
</script>