@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ClientWebGUI.Models;
    @model IEnumerable<PreCentre>;
    var incId = Model.Count() + 1;
}
<div id="tableview">
    @if(ViewBag.ServerError == null)
    {
        <table id="tabCen">
            <thead>
                <tr>
                <th style="width:150px">ID</th>
                <th style="width:150px">Centre</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="test">
                @foreach (var centre in Model)
                {
                    <tr>
                        <td>@centre.Id</td>
                        <td id="CName_@centre.Id">@centre.Name</td>
                        <td>
                            <button onclick="select(@centre.Id, '@centre.Name')">select</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    
                    <td><input type="text" id="NId" name="NId" disabled value=@incId readonly/></td>
                    <td><input type="text" id="NName" name="NName" placeholder="Enter new centre name"/></td>
                    <td><button id="btnAdd" onClick="add()">Add Centre</button></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <p>ViewBag.ServerError</p>  
    }
</div>

<script>
    function add()
    {
        //Shorthand ref to input's element ID
        var inputId = $("#NId");
        var inputName = $("#NName");

        $.ajax(
        {
            url: '/home/add/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "Id": inputId.val(),
                "Name": inputName.val()
            }),
            success: function (data, textStatus, jQxhr)
            {
                alert("Successfully add a new centre to the server");

                //Get the reference of the Table's TBODY element.
                var tBody = $("#test")[0];

                //Add Row.
                var row = tBody.insertRow(-1);

                //Add Id cell.
                var cell = $(row.insertCell(-1));
                cell.html(inputId.val());

                //Add Name cell.
                cell = $(row.insertCell(-1));
                cell.html(inputName.val());

                //Add a Select Button cell.
                cell = $(row.insertCell(-1));
                var selectBtn = $("<button>Select</button>");
                selectBtn.attr("onClick", "select(inputID.val(), input.val())");
                cell.append(selectBtn);

                //Increment the count for list of centres dynamically and set to variable
                var assignedId = inputId.val()
                assignedId++;

                //Clear the TextBoxes.
                inputId.val(assignedId);
                inputName.val("");
            },
            error: function (jqXhr, textStatus, error) {
                alert(jqXhr.responseText);
                console.log(textStatus);
                console.log(error);
            }
        });


    }
</script>

